<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            
            <div class="column is-full is-paddingless">
                <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless has-text-centered">
                   myoowhite@naver.com
                </h3>  
            </div>    
            
            <hr>
            <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless">
                You Can contact here
            </h3>
            
            <div class="column is-full is-size-3">
                {% unless site.facebook_username == "" %}
                <a href="http://facebook.com{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-facebook"></i></a>
                {% endunless %}
                {% unless site.twitter_username ==  "" %}
                <a href="https://twitter.com{{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                {% endunless %}
                {% unless site.instagram_username == "" %}
                <a href="http://instagram.com{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                {% endunless %}
                {% unless site.linkedin_username == "" %}
                <a href="http://linkedin.com{{site.linkedin_username}}" target="_blank" class="has-text-black"><i class="fab fa-linkedin"></i></a>
                {% endunless %}
                {% unless site.github_username == "" %}
                <a href="http://github.com{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id == "" %}
                <a href="http://youtube.com{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
                {% endunless %}
                {% unless site.reddit_username == "" %}
                <a href="http://reddit.com{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                {% endunless %}
                {% unless site.behance_username == "" %}
                <a href="http://behance.com{{site.behance_username}}" target="_blank" class="has-text-black"><i class="fab fa-behance"></i></a>
                {% endunless %}
                {% unless site.dribbble_username == "" %}
                <a href="http://dribbble.com{{site.dribbble_username}}" target="_blank" class="has-text-black"><i class="fab fa-dribbble"></i></a>
                {% endunless %}
                {% unless site.spotify_username == "" %}
                <a href="http://spotify.com{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-spotify"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>
